/*Teknisk dokumentation, eksempelvis i form af: 
○ En overordnet forklaring af opbygningen og flowet i jeres scripts, gerne i form af diagrammer samt valgte navne-konventioner o.lign. 
○ Forklarende kommentarer i koden (funktioner, variabler og hvordan disse anvendes) 
○ Hvilke tiltag i har gjort ift. at gøre sitet mere bæredygtigt 
○ Dokumentation af hvordan Git og branches er blevet brugt
*/


/*Mobilformat først*/
/*startopsætnig*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/*************** KATEGORI MOBIL *******************/

.grid {
    gap: 2rem;
    padding: 1rem;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

main {
    margin: auto;
}

p {
    font-size: 14px;
}

h1,
h2 {
    text-align: center;
}
h1{
    padding-top: 30px;
}
h2{
    padding-bottom: 20px;
}
 h3 {
    text-align: center;
    padding: 12px;
}

.product {
    border: 1px solid #000000;
    border-radius: 30px;
    position: relative;
    margin-bottom: 3rem;

}

.grid_ikon {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 0 10px 0 10px;
    text-align: center;
    justify-items: center;
}

.product_img {
    border-radius: 50%;
    max-width: 30%;
    margin: auto;
    top: 100px;
}


.grid_ikon .ikon1,
.ikon2,
.ikon3,
.ikon4 {
    border-radius: 50%;
    max-width: 80%;

}

.padding {
    padding: 12px;
}

.text1 {
    padding: 12px 10px 0 10px;
}

.text2 {
    padding: 0 10px 12px 10px;
}

/*****************************FOOTER***********************/
footer p{
    text-align: end;
    padding: 10px 0;
    }
    
    footer{
        border-top: 1px solid black;
        margin-left: 10px;
        margin-right: 10px;
    }


/******************** BREADCRUMS ***********************/

/* Default styles for breadcrumb */
.breadcrumb {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    text-align: center;
    padding: 12px 12px 0 12px;
}

.breadcrumb-item {
    border: 0.5px solid #ccc;
}

.breadcrumb-item a {
    /* kun når han hover over kategorierne, at linen dukker op*/
    text-decoration: none;
    padding: 12px 0;
    height: 100%;
    width: 100%;
    display: inline-block;
}

.breadcrumb-item a:hover {
    text-decoration: underline;
}

@media (min-width: 860px) {
    .breadcrumb {
        justify-content: center;
        text-align: center;
    }

    .breadcrumb-item {
        /* så der er 4 items pr. row*/
        border: 0.5px solid #ccc;
    }

    .breadcrumb-item.active {
        border-bottom: none;
    }

    .grid {  
        max-width: 1200px;
        display: grid;
        grid-template-columns: repeat(auto-fill, 400px);
        gap: 4rem;
        border: 1px solid #000;
        padding: 4rem;
        justify-content: center;
        margin: auto;
      }
}