/*Teknisk dokumentation, eksempelvis i form af: 
○ En overordnet forklaring af opbygningen og flowet i jeres scripts, gerne i form af diagrammer samt valgte navne-konventioner o.lign. 
○ Forklarende kommentarer i koden (funktioner, variabler og hvordan disse anvendes) 
○ Hvilke tiltag i har gjort ift. at gøre sitet mere bæredygtigt 
○ Dokumentation af hvordan Git og branches er blevet brugt
*/



/************************FARVER**************************/

/*Disse farver er ikke dem vi går med men er et eksemple*/
html{
    --primary-color: #f5f5f5; /*baggrund farve, hører til body*/
    --secondary-color: #2e2d2b; /*font farve, gælder alle fonte*/
    --tertiary-color: #7e7e7eac; /*boxshadow farve til links*/

    --bane-color: #a9eab6; /*baggrund farve til box*/

    --kfk-color: #D9F2FF; /*baggrund farve til box*/

    --kontakt-color: #ffd9b8; /*baggrund farve til box*/

}

/* når i skal skrive en farve skriv ex: 

p{
    color: var(----primary-color);
}
*/


/*Mobilformat først*/
/*startopsætnig*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* grid der skal bruges til kategori-side*/

img {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 50%;
}

main {
    margin: auto;
    padding-top: 45%;
    padding-bottom: 45%;
}

/*h1,
h2 {
    text-align: center;
    padding-bottom: 2rem;
}*/

/***********************FORSIDE************************************/
.cirkel {
    border-radius: 50%;
    display: flex;
    margin: auto;
    position: relative;
    width: 80vw;
    height: 80vw;
    border: 1px solid black;
    overflow: hidden;
}

.vinter,
.forår,
.sommer,
.efterår {
    display: flex;
    position: absolute;
}

.vinter {
    left: 0;
    top: 0;
}

.forår {
    top: 0;
    right: 0;
}

.sommer {
    bottom: 0;
    right: 0;
}

.efterår {
    bottom: 0;
    left: 0;
}

.cirkel a {
    font-size: 20px;
    color: white;
    text-decoration: none;
    position: absolute;
    width: 50%;
    height: 50%;
    display: flex;
    background: blue;
    border: 1px solid black;
}

.vinter p {
    left: 17vw;
    top: 20vw;
}

.forår p {
    top: 20vw;
    right: 17vw;
}

.sommer p {
    bottom: 20vw;
    right: 17vw;
}

.efterår p {
    bottom: 20vw;
    left: 17vw;
}

.cirkel p {
    position: absolute;
}

/*****************************FOOTER*************************/
footer p {
    text-align: end;
    padding-top: 10px;
}

footer {
    border-top: 1px solid black;
    margin-left: 10px;
    margin-right: 10px;
}


/*
@media(orientation: portrait){
    https://developer.mozilla.org/en-US/docs/Web/CSS/@media/orientation
}
*/


@media (min-width: 860px) {
    /*********************FORSIDE******************/
    .cirkel {
        width: 30vw;
        height: 30vw;
        margin: auto;
    }

    main {
        margin: auto;
        padding-top: 4%;
        padding-bottom: 4%;
    }

    .vinter p {
        left: 7vw;
        top: 8vw;
    }

    .forår p {
        top: 8vw;
        right: 7vw;
    }

    .sommer p {
        bottom: 8vw;
        right: 7vw;
    }

    .efterår p {
        bottom: 8vw;
        left: 7vw;
    }
    /*******************************************/
}



/******************** KATEGORI (BOX 1) - MOBIL ***********************/



/* .kate-h2 {
    font-size: xxx-large;
    position: relative;
    left: 42%;
    padding-top: 11%;
    padding-bottom: 10%;
}

.kate-h3 {
    position: relative;
    left: 51%;
    font-size: xx-large;
}

.kate-p1 {
    position: relative;
    font-family: block;
    left: 36%;
    font-size: 14px;
}

.kate-p2 {
    position: absolute;
    font-family: block;
    top: 62%;
    left: -5%;
    font-size: 14px;
}

.ikon-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ikon1,
.ikon2,
.ikon3,
.ikon4 {
    max-width: 85px;
    height: 50px;
    border-radius: 56%;
}

.ikon0 {
    border-radius: 42%;
    max-width: 199px;
    height: 247px;
    position: absolute;
    top: 18%;
    left: 1%;
}

.ikon1 {
    position: relative;
    top: 3%;
    left: 34%;
}

.ikon2 {
    position: relative;
    top: -131%;
    left: 51%;
}

.ikon3 {
    position: relative;
    left: 68%;
    top: -262%;

}

.ikon4 {
    position: relative;
    left: 85%;
    top: -393%;
}

.grid {
    /* grid der skal bruges til kategori-side*/
/* max-width: 600px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 400px);
    gap: 1rem;
    justify-content: space-between;
    border: 1px solid #000;
    padding: 1rem;
    border-radius: 56px;
    padding-bottom: 0%;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 10%;
} */



/*************** KATEGORI (BOKS 2) - MOBIL ****************/


/* .grid_2 {
    max-width: 600px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 400px);
    gap: 1rem;
    justify-content: space-between;
    border: 1px solid #000;
    padding: 1rem;
    border-radius: 56px;
    padding-bottom: 0%;
    margin-left: 3%;
    margin-right: 3%;
}

.kate-p01 {
    position: relative;
    font-family: block;
    font-size: 14px;
    left: -9%;
}

.kate-h3_2 {
    position: relative;
    left: 1%;
    font-size: xx-large;
}

.ikon00 {
    border-radius: 42%;
    max-width: 199px;
    height: 247px;
    position: absolute;
    top: 89%;
    left: 55%;
}


.ikon11,
.ikon22,
.ikon33,
.ikon44 {
    max-width: 85px;
    height: 50px;
    border-radius: 56%;
}

.ikon22 {
    position: relative;
    left: 17%;
    top: -133%;
}

.ikon33 {
    position: relative;
    top: -267%;
    left: 34%;
}

.ikon44 {
    position: relative;
    top: -401%;
    left: 51%;
}

.kate-p02 {
    position: absolute;
    font-family: block;
    top: 134%;
    left: -5%;
    font-size: 14px;
} */


.product-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 20px;
    padding-top: 20px;
    padding-left: 20px;
    padding-top: 5%;
    padding-left: 1%;
}

/*************** KATEGORI (BOX 1) - WEB ****************/

@media (min-width: 860px) {}