/*Teknisk dokumentation, eksempelvis i form af: 
○ En overordnet forklaring af opbygningen og flowet i jeres scripts, gerne i form af diagrammer samt valgte navne-konventioner o.lign. 
○ Forklarende kommentarer i koden (funktioner, variabler og hvordan disse anvendes) 
○ Hvilke tiltag i har gjort ift. at gøre sitet mere bæredygtigt 
○ Dokumentation af hvordan Git og branches er blevet brugt
*/


/*Mobilformat først*/
/*startopsætnig*/
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

.grid{ /* grid der skal bruges til kategori-side*/
    max-width: 600px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 400px);
    gap: 1rem;
    justify-content: space-between;
}

nav{
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    background: rgb(76, 165, 135);
    padding: 0 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}

.logo{
    max-width:18%;
    height: auto;
    display: block;
    margin: auto;
}
.vild-logo{
    max-width:50%;
    height: auto;
    display: block;
}
.scrollUl{
    margin: 0;
    padding: 0;
    display: flex;
}

.scrollUl .scrollLi{
    list-style: none;
}

.scrollUl .scrollLi a{
    color: #fff;
    padding: 0 20px;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1em;
}
section{
    box-sizing: border-box  ;
    padding: 150px 100px 100px;
}
img{
    max-width:100%;
    height: auto;
    display: block;
}
main{
    margin: auto;
}

/*hamburger menu*/
@media(max-width:860px) {
    .nav-link {
        display: grid;
        background-image: url(../img/menu-btn.svg);
        background-size: contain;
        background-repeat: no-repeat;
        justify-content: end;
        width: 150px;
        height: 60px;
        padding: 5%;
        margin: 15%;
        border-radius: 6px;
        transition: 0.2s;
    }

    .nav-link:active {
        scale: 0.9;
    }

    .navbar {
        width: 100%;
        min-height: 80px;
        display: grid;
        justify-content: space-between;
        align-items:center;
    }

    .nav-menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
    }
    .nav-branding a{
        padding: 0;
    }

    .nav-branding {
        margin:0;
        padding: 0;
        animation-name: floating;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        animation-duration: 2s;
    }

    .hamburger {
        display: none;
        cursor: pointer;
    }

    .bar {
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px 0;
        transition: all 0.3s ease;
        background-color: rgb(255, 255, 255);
    }


    .containerBurger {
        width: 100%;
    }

    .hamburger {
        display: block;
        margin: 10px;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        margin-top: 0px;
        display: block;
        top: 0;
        left: 100%;
        width: 100%;
        min-height: 100vh;
        position: fixed;
        z-index: 0;
        background-color: #5b8067df;
        padding: 0px;
        transition: 0.4s;
    }


    .nav-menu.active {
        left: 0;
    }
}