/*Teknisk dokumentation, eksempelvis i form af: 
○ En overordnet forklaring af opbygningen og flowet i jeres scripts, gerne i form af diagrammer samt valgte navne-konventioner o.lign. 
○ Forklarende kommentarer i koden (funktioner, variabler og hvordan disse anvendes) 
○ Hvilke tiltag i har gjort ift. at gøre sitet mere bæredygtigt 
○ Dokumentation af hvordan Git og branches er blevet brugt
*/


/*Mobilformat først*/
/*startopsætnig*/
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

.grid{ /* grid der skal bruges til kategori-side*/
    max-width: 600px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 400px);
    gap: 1rem;
    justify-content: space-between;
}
section{
    box-sizing: border-box  ;
    padding: 150px 100px 100px;
}
img{
    max-width:100%;
    height: auto;
    display: block;
}
main{
    margin: auto;
}
/*HEADER*/
nav{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
    background: rgb(76, 165, 135);
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    padding: 0 5px;
    max-width:80px;
    height: auto;
    display: block;
    margin: auto;
}
.vild-logo{
    padding: 0 5px;
    max-width:80px;
    height: auto;
    display: block;
}
.scrollUl{
    margin: 0;
    padding: 0;
    display: flex;
}

.scrollUl .scrollLi, li{
    list-style: none;
}

.scrollUl .scrollLi a{
    color: #fff;
    padding: 0 20px;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5em;
    margin: 0;
}
@media(min-width:860px){
/*sub menu web format*/
ul.dropdown{
display: block;
list-style: none;
padding: 20px;
}
ul.dropdown{
    background-color: rgb(76, 165, 135);
    position: absolute;
    display: none;
}
.nav-link.kategorier:hover{
opacity: 0.5;}
li:hover ul.dropdown{
    display: block;
}
}

/*hamburger menu*/
@media(max-width:860px) {
    .nav-link {
        display: flex;
        padding: 5%;
        margin: 0 50px;
    }
    .nav-item{
        margin: 20px;
    }

    .nav-link:active {
        scale: 0.9;
    }

    .navbar {
        width: 100%;
        min-height: 80px;
        justify-content: space-between;
    }

    .hamburger {
        display: none;
        cursor: pointer;
    }

    .bar {
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px 0;
        transition: all 0.3s ease;
        background-color: rgb(255, 255, 255);
    }


    .containerBurger {
        width: 100%;
    }

    .hamburger {
        display: block;
        margin: 10px;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        margin: auto;
        display: block;
        top: 0;
        left: 100%;
        width: 100%;
        min-height: 100vh;
        position: fixed;
        z-index: 0;
        background-color: #5b8067df;
        padding: 70px;
        transition: 0.4s;
    }


    .nav-menu.active {
        left: 0;
    }
    .kategorier, li{
        font-size: 20px;
        margin: 0 10px 0;
        color: #c2dfc1;
    }
}