/*Teknisk dokumentation, eksempelvis i form af: 
○ En overordnet forklaring af opbygningen og flowet i jeres scripts, gerne i form af diagrammer samt valgte navne-konventioner o.lign. 
○ Forklarende kommentarer i koden (funktioner, variabler og hvordan disse anvendes) 
○ Hvilke tiltag i har gjort ift. at gøre sitet mere bæredygtigt 
○ Dokumentation af hvordan Git og branches er blevet brugt
*/



/************************FARVER**************************/

/*Disse farver er ikke dem vi går med men er et eksemple*/

html {
    --primary-color: #6C805A;
    /*color til baggrund*/

    --secondary-color: #E4E4E4;
    /*til font h1 og h2*/

    --tertiary-color: #363636;
    /*til font, heraf h3 og p*/

    --footer-color: #647852;
    /*color til footer*/

    --forår-color: #BCC5B3;
    /*baggrund farve til box*/

    --sommer-color: #EBE1B3;
    /*baggrund farve til box*/

    --efterår-color: #CB9292;
    /*baggrund farve til box*/

    --vinter-color: #F2F2F2;
    /*baggrund farve til box*/
}

/* når i skal skrive en farve skriv ex: 

p{
    color: var(----primary-color);
}
*/



/*Mobilformat først*/
/*startopsætnig*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--primary-color);
}


/*************** KATEGORI MOBIL *******************/



img {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 50%;
}


p {
    font-size: 14px;
}

h1,
h2 {
    text-align: center;
    color: var(--secondary-color);
}

h1 {
    padding-top: 20px;
}

h2 {
    padding-top: 30px;
    padding-bottom: 20px;

}

h3 {
    text-align: center;
    padding: 12px;
}

.product {
    border: 1px solid #000000;
    border-radius: 30px;
    position: relative;
    margin: 30px;
    max-width: 100%;

}

.grid_ikon {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 0 10px 0 10px;
    text-align: center;
    justify-items: center;
}

.product_img {
    border-radius: 50%;
    max-width: 30%;
    margin: auto;
    top: 100px;
}


.grid_ikon .ikon1,
.ikon2,
.ikon3,
.ikon4 {
    border-radius: 50%;
    max-width: 80%;

}

.padding {
    padding: 12px;
}

.text1 {
    padding: 12px 20px 0 20px;
}

.text2 {
    padding: 0 20px 12px 20px;
}



/***********************FORSIDE************************************/
.cirkel {
    border-radius: 50%;
    display: flex;
    margin: auto;
    position: relative;
    width: 80vw;
    height: 80vw;
    border: 1px solid black;
    overflow: hidden;

}

.vinter,
.forår,
.sommer,
.efterår {
    display: flex;
    position: absolute;
}

.vinter {
    left: 0;
    top: 0;
}

.forår {
    top: 0;
    right: 0;
}

.sommer {
    bottom: 0;
    right: 0;
}

.efterår {
    bottom: 0;
    left: 0;
}

.cirkel a {
    font-size: 20px;
    color: white;
    text-decoration: none;
    position: absolute;
    width: 50%;
    height: 50%;
    display: flex;
    background: blue;
    border: 1px solid black;
}

.vinter p {
    left: 17vw;
    top: 20vw;
}

.forår p {
    top: 20vw;
    right: 17vw;
}

.sommer p {
    bottom: 20vw;
    right: 17vw;
}

.efterår p {
    bottom: 20vw;
    left: 17vw;
}

.cirkel p {
    position: absolute;
}

/*****************************FOOTER*************************/
.footer_stay p {
    /* dette hører til forsiden*/
    text-align: end;
    padding-top: 10px;
    padding-right: 10px;
}

.footer_stay {
    border-top: 1px solid black;
    position: fixed;
    bottom: 0;
    width: 100%;

}

footer p {
    /* dette hører til kategori sitet*/
    text-align: end;
    padding: 10px 0;
    padding-right: 10px;
}

footer {
    border-top: 1px solid black;
}


footer {
    /* dette hører til kategori sitet og forsiden*/
    background-color: var(--footer-color);
}


/*
@media(orientation: portrait){
    https://developer.mozilla.org/en-US/docs/Web/CSS/@media/orientation
}
*/



/*hamburgermenu*/
.nav-link {
    display: flex;
    padding: 5%;
    margin: 0 50px;
}

.nav-item {
    margin: 20px;
}

.nav-link:active {
    scale: 0.9;
}

.navbar {
    width: 100%;
    min-height: 80px;
    justify-content: space-between;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px 0;
    transition: all 0.3s ease;
    background-color: rgb(255, 255, 255);
}


.containerBurger {
    width: 100%;
}

.hamburger {
    display: block;
    margin: 10px;
}

.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

.nav-menu {
    margin: auto;
    display: block;
    top: 0;
    left: 100%;
    width: 100%;
    min-height: 100vh;
    position: fixed;
    z-index: 0;
    background-color: #5b8067df;
    padding: 70px;
    transition: 0.4s;
}


.nav-menu.active {
    left: 0;
}

@media (min-width: 450px) {
    .product {
        border: 1px solid #ccc;
        padding: 1rem;
        margin: 2rem auto;
        max-width: 400px;
    }
}


@media (min-width: 860px) {

    /*********************FORSIDE******************/
    .cirkel {
        width: 30vw;
        height: 30vw;
        margin: auto;
    }

    main {
        margin: auto;
        padding-top: 4%;
        padding-bottom: 4%;
    }

    .vinter p {
        left: 7vw;
        top: 8vw;
    }

    .forår p {
        top: 8vw;
        right: 7vw;
    }

    .sommer p {
        bottom: 8vw;
        right: 7vw;
    }

    .efterår p {
        bottom: 8vw;
        left: 7vw;
    }


    /*******************************************/


    /************KATEGORI********************/

    .breadcrumb {
        justify-content: center;
        text-align: center;
    }


    .product-grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
        padding: 20px;
        padding-top: 20px;
        padding-left: 20px;
        padding-top: 5%;
        padding-left: 1%;
    }

    .product {
        border: 1px solid #ccc;
        padding: 1rem;
        /* margin: 2rem 0 auto 0;*/
        margin: auto;
    }

    .grid {
        max-width: 860px;
        display: grid;
        grid-template-columns: repeat(auto-fill, 400px);
        gap: 1rem;
        justify-content: space-between;
        margin: auto;
    }


    /******************************/
    /************************HEADER********************/

    ul.dropdown {

        display: block;
        list-style: none;
        padding: 20px;
    }

    ul.dropdown {
        background-color: rgb(76, 165, 135);
        position: absolute;
        display: none;
    }

    .nav-link.kategorier:hover {
        opacity: 0.5;
    }

    li:hover ul.dropdown{
            display: block;
            }
        




}




/******************** BREADCRUMS ***********************/

/* Default styles for breadcrumb */
.breadcrumb {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    text-align: center;
    padding: 12px 12px 0 12px;
}

.breadcrumb-item {
    border: 0.5px solid #ccc;
}

.breadcrumb-item a {
    /* kun når han hover over kategorierne, at linen dukker op*/
    text-decoration: none;
    padding: 12px 0;
    height: 100%;
    width: 100%;
    display: inline-block;
}

.breadcrumb-item a:hover {
    text-decoration: underline;
}

section {
    box-sizing: border-box;
    padding: 150px 100px 100px;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

main {
    margin: auto;
}

/*HEADER*/
nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
    background: rgb(76, 165, 135);
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    padding: 0 5px;
    max-width: 80px;
    height: auto;
    display: block;
    margin: auto;
}

.vild-logo {
    padding: 0 5px;
    max-width: 80px;
    height: auto;
    display: block;
}

.scrollUl {
    margin: 0;
    padding: 0;
    display: flex;
}

.scrollUl .scrollLi,
li {
    list-style: none;
}

.scrollUl .scrollLi a {
    color: #fff;
    padding: 0 20px;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5em;
    margin: 0;
}