/*Teknisk dokumentation, eksempelvis i form af: 
○ En overordnet forklaring af opbygningen og flowet i jeres scripts, gerne i form af diagrammer samt valgte navne-konventioner o.lign. 
○ Forklarende kommentarer i koden (funktioner, variabler og hvordan disse anvendes) 
○ Hvilke tiltag i har gjort ift. at gøre sitet mere bæredygtigt 
○ Dokumentation af hvordan Git og branches er blevet brugt
*/


/*Mobilformat først*/
/*startopsætnig*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.grid {
    /* grid der skal bruges til kategori-side*/
    max-width: 600px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 400px);
    gap: 1rem;
    justify-content: space-between;
    border: 1px solid #000;
    padding: 1rem;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

main {
    margin: auto;
}

/******************** KATEGORI ***********************/

.ikon-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ikon1,
.ikon2,
.ikon3,
.ikon4 {
    max-width: 100px;
    height: 100px;
    display: block;
    margin-bottom: 1rem;
    border-radius: 50%;
    object-fit: cover;
}

.ikon1 {
    position: relative;
    top: -3%;
}

.ikon2 {
    position: relative;
    top: -28%;
    left: 28%;
}

.ikon3 {
    position: relative;
    left: 56%;
    top: -53%;
}

.ikon4 {
    position: relative;
    left: 84%;
    top: -78%;
}